# some more ls aliases
alias ll='ls -FHlasG'
alias la='ls -A'
alias l='ls -CF'
alias lt='ls -FlasGrt'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -G'

# latex
alias cp-sam-macros='cp ~/projects/github/dotfiles/sam_macros.def . && cp ~/projects/github/dotfiles/sam_macros_nofontspec.def . && cp ~/projects/github/dotfiles/sam_macros_common.def .'

# tmux
# NOTE: these are redundant with oh-my-zsh
alias tmuxa='tmux attach-session -t'
alias tmuxk='tmux kill-session -t'
alias tmuxl='tmux ls'

#ipython
alias ipyterm='ipython --profile=term'

# nvim vs. vim
alias vim='nvim'

# conda
alias cee='conda env export > environment.yml'
alias cec='conda env create -f environment.yml'

# etc
alias mex='/Applications/MATLAB.app/bin/mex'
alias rpi='arp -a -n | grep b8:27:eb:'
alias qtconsole='jupyter qtconsole'

# git
# Some of these commented, redundant with oh-my-zsh git plugin
alias gitd='git difftool'
# alias gitc='git commit -m'
# alias gits='git status'
# alias gita='git add'
