[user]
	name = sdbuch
  email = 19997120+sdbuch@users.noreply.github.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/sdbuch/.gitignore_global
[credential "https://git.overleaf.com"]
	username = sambuchanan6@gmail.com
	helper = cache
[init]
	defaultBranch = main
