[user]
	name = sdbuch
	email = 19997120+sdbuch@users.noreply.github.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/sdbuch/.gitignore_global
[credential "https://git.overleaf.com"]
	username = git
	helper = cache
[init]
	defaultBranch = main
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[pull]
	rebase = false
